<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<table class="table">
		<tr><th>번호</th><td th:text="${board.bno}"></td></tr>
		<tr><th>제목</th><td th:text="${board.title}"></td></tr>
		<tr><th>내용</th><td th:text="${board.content}"></td></tr>
		<tr><th>작성자</th><td th:text="${board.writer}"></td></tr>
		<tr><th>작성일자</th><td th:text="${board.regdate}"></td></tr>
	</table>
	<button th:onclick="|location.href='modify?bno=${board.bno}'|">수정</button>
	<button th:onclick="|location.href='remove?bno=${board.bno}'|">삭제</button>
</div>

</body>
</html>